.main {
    max-width: min(40em, 100%);
    margin: 0 auto;
}

.post-meta-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 0.95em;
}

img {
    max-width: min(40em, 100%);
    display: block;
    margin: auto;
}

figure {
    max-width: min(40em, 100%);
    margin: 1.5rem auto;
}

figure img {
    max-width: 100%;
    margin: 0 auto;
}

figcaption {
    margin-top: 0.75rem;
    text-align: center;
    font-style: italic;
}

div.highlight {
    overflow-x: scroll;
}

table {
    margin: 0 auto;
}
